body {
	margin: 0;
	font-family: 'Russo One', sans-serif;

	font-size: 15px;
	line-height: 1.6;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin-block-end: 0;
}

/* Page */
.page {
	overflow: hidden;
}

.page--sub {
	font-family: 'Istok Wed', sans-serif;
}

/* Container */
.container {
	width: 100%;
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.container--sub {
	max-width: 1600px;
}

/* Header */
.header {
	width: 100%;
	padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header--sub {
	background-color: black;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 48px;
	color: black;
}

.header--sub__logo {
	color: white;
}

/* Nav */
.nav {
	font-size: 24px;
	text-transform: uppercase;

}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;

	color: black;
	text-decoration: none;

	transition: color .1s linear; 	
}

.nav--sub__link {
	color: white;
}


.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: white;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear; 	
}

.nav__link:hover {
	color: yellow;
}

.nav--sub__link:after,
.nav--sub__link:hover, {
	color: yellow;
}

.nav__link:hover:after {
	opacity: 1;
}

/* Intro*/
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 820px;
	position: relative;

	background: url("../images/main/intro.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}

.intro--sub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	padding: 150px 50px;

	background: #5ee1b7;
}

.intro__inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

	color: black;
	text-align: center;
}

.intro__title {
	font-size: 100px;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 800px;
	height: 3px;
	margin: 60px auto 60px;

	background-color: black;
}

.intro__suptitle {
	margin-bottom: 20px;
	font-size: 72px;
}

.intro__subtitle {
	font-size: 56px;
}

/* Section */
.section {
	padding: 80px 0;
	background: black;
	color: white;
}

.section--sub{
	background: #5ee1b7;
}

.section--fefu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 30px 0 30px;

	background: url(../images/main/fefu1.jpg) center
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section--skills {
	text-align: center;
	padding: 80px 0;
	color: black;
	background-color: #fefe00;
}

.section__header {
	width: 100%;
	margin: auto;

	text-align: center;
}

.section__suptitle {
	font-size: 40px;
}

.section__title {
	font-size: 48px;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto 30px;

	background-color: white;
}

.section__text {
	font-size: 24px;
}

/* About */
.about {
	display: flex;
	justify-content: center;
}

/* Card */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card__item {
	display: block;
	margin: 20px 10px 20px;
	position: relative;

	background-color: #5ee1b7;
}

.card__item:hover .card__img,
.myPhoto:hover .myPhoto__img {
	transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img,
.myPhoto:hover .myPhoto__img img  {
	opacity: .3;
}

.card__item:hover .card__text,
.myPhoto:hover .card__text {
	opacity: 1;
}

.card__img, .myPhoto__img {
	background-color: #fefe00;
	transition: transform .1s linear;
}

.card__img img, .myPhoto__img img {
	display: block;
	max-width: 100%;
    height: auto;

	transition: opacity .1s linear;
}

.card__text {
	width: 100%;

	font-size: 40px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	opacity: 0;

	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);

	transition: opacity .1s linear;
}

/* My Photo */
.myPhoto {
	width: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: relative;

    display: block;
	margin: 20px 10px 20px;
	position: relative;

	background-color: #5ee1b7;
}

/* Statistics */
.statistics {
	background-color: #fefe00;
}

.stat {
	display: flex;
	flex-wrap: wrap;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;

	text-align: center;
	color: black;
}

.stat__num {
	margin-bottom: 10px;

	font-size: 72px;
	line-height: 1;
}

.stat__text {
	font-size: 18px;
	text-transform: uppercase;
}

/* City */

.city {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

/* Skills */

.skills__title {
	font-size: 48px;
	text-transform: uppercase;
}

.skills__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto 30px;

	background-color: black;
}

.skill {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.skill__item {
	width: 30%;
	min-width: 280px;
	margin: 15px 70px 10px;
	position: relative;
}

.skill__title {
	font-size: 40px;
	text-align: center;
}

.skill__title:after {
	content: "";
	display: block;
	width: 50px;
	height: 2px;
	margin: 5px auto 15px;

	background-color: black;
}

.skill__text {
	font-size: 24px
}

/* Footer */
.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:  #144465;
	color: white;
}

.footer__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 	margin: 0 -15px;
    padding-bottom: 65px;
}

.footer__description {
	padding-left: 30px;
	width: 40%;
}

.footer__logo {
	font-size: 40px;
}

.footer__text {
	font-size: 18px;
}

/* Contacts */
.contacts {
	margin-top: 20px;
	text-align: center;
}

.contacts__title {
	font-size: 32px;
	color: white;
	margin: 0 auto 5px;
}

.contacts__items{
	font-size: 24px;
}

.contacts__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 0;
	position: relative;

	color: white;
	text-decoration: none;

	transition: color .1s linear; 	
}

.contacts__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;

	background-color: #fefe00;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
}

.contacts__link:hover {
	color: #fefe00;
}

.contacts__link:hover:after {
	display: block;
}

.contacts__email {
	margin: 20px 20px 0;
	font-size: 24px;
}

/* Memes */
.memes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	align-items: center;
	width: 100%;

	padding: 10px;
}

.memes__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 720px;
	height: auto;

	margin: 30px 0 30px;
	padding: 30px;

	background: #e2e2e2;
	box-shadow: 20px -15px 10px 5px rgba(0, 0, 0, .5);
}

.memes__img img {
	display: block;
	max-width: 100%;
    height: auto;
}

.memes__img:after {
	content: "";
	display: block;
	width: 120px;
	height: 5px;
	margin: 30px auto;

	background-color: red;
}

.memes__text {
	margin: auto;
	color: black;
	font-size: 48px;
	text-align: left;
}

/* Table */
.table {
	width: 100%;

	color: black;
	background: #e2e2e2;
	border: 1px solid grey;
	border-collapse: collapse;
	box-shadow: 15px -10px 5px 0px rgba(0, 0, 0, .5);
}

.table__title {
	padding: 10px;
	border: 1px solid black;
	font-size: 40px;
}

.table__row {
	border: 1px solid black;
}

.table__drink {
	padding: 15px;
	border: 1px solid black;
	font-size: 32px;
}

.table__icon {
	border: 1px solid black;
}

.table__icon img {
	display: block;
	max-width: 50%;
    height: auto;

    margin: auto;
}

.table__comments {
	padding: 10px;
	border: 1px solid black;
	font-size: 28px;
}

@media (max-width: 1440px) {

	/* Intro */
	.intro__suptitle {
		font-size: 60px;
	}

	.intro__title {
		font-size: 80px;
	}

	.intro__subtitle {
		font-size: 52px;
	}

}

@media (max-width: 1080px) {

	/* Intro */
	.intro {
		min-height: 680px; 
	}

	.intro__suptitle {
		font-size: 48px;
	}

	.intro__title {
		font-size: 60px;
	}

	.intro__subtitle {
		font-size: 40px;
	}

	/* Section */
	.section__suptitle {
		font-size: 32px;
	}

	.section__title {
		font-size: 38px;
	}

	.section__title:after {
		margin: 15px auto 15px;
	}

	.section__text {
		font-size: 20px;
	}


	/* Statistics */
    .stat {
       justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;

        border: 0;
    }

    /* Skills */
    .skills__title {
    	font-size: 38px;
    }

	.skill__item {
		width: 70%;
	}

	.skill__title {
		font-size: 32px;
	}

	.skill__text {
		font-size: 20px
	}

    /* Footer */
    .footer__inner {
    	justify-content: space-around;
    }

    .footer__description {
    	width: 80%
    }

    /* Contacts */
    .contacts {
	margin-top: 30px;
	}

	/* Memes */
	.memes__text {
		font-size: 40px;
	}

	/* Table */
	.table__title {
		padding: 10px;
		font-size: 28px;
	}

	.table__drink {
		font-size: 24px;
	}

	.table__icon {

	}

	.table__comments {
		font-size: 22px;
	}

}

@media (max-width: 820px) {

	/* Header */
	.header__logo {
		font-size: 36px;
	}

	/* Nav */
	.nav {
		font-size: 18px;
	}

	/* Intro */
	.intro__suptitle {
		font-size: 44px;
	}

	.intro__title {
		font-size: 52px;
	}

	.intro__subtitle {
		font-size: 36px;
	}

	.intro__title:after {
		width: 100%;
		margin: 30px auto 30px;
	}

	/* About */
	.about {
		flex-direction: column;
		justify-content: space-around;
	}

	/* Card */
	.card__item, .myPhoto {
		max-width: 280px;
		margin: 10px 5px;
	}

	.myPhoto {
		margin: 10px auto;
	}

	.card__text {
		font-size: 24px;
	}

	/* City */
	.city {
		flex-direction: column;
	}

	/* Skills */
	.skills__title:after {
		margin: 20px auto 20px;
	}

}

@media (max-width: 640px) {

	/* Intro */
	.intro {
		max-height: 830px;
		min-height: 530px;
	}

	.intro__suptitle {
		font-size: 38px;
	}

	.intro__title {
		font-size: 46px;
	}

	.intro__subtitle {
		font-size: 30px;
	}

	/* Section */
	.section {
		padding: 20px 0;
	}

	.section__suptitle {
		font-size: 26px;
	}

	.section__title {
		font-size: 32px;
	}

	.section__title:after {
		margin: 10px auto 10px;
	}

	.section__text {
		font-size: 16px;
	}

	/* Skills */
    .skills__title {
    	font-size: 32px;
    }

	.skill__title {
		font-size: 26px;
	}

	.skill__text {
		font-size: 16px;
	}

	/* Statistics */
    .stat__item {
        width: 100%;
		padding: 15px 15px;
    }

    .stat__num {
        font-size: 52px;
    }

    /* Footer */
    .footer {
    	padding: 20px;
    }

    .footer__inner {
    	padding-bottom: 10px;
    }

    /* Memes */
	.memes__text {
		font-size: 32px;
	}

	/* Table */
	.table__title {
		padding: 5px;
		font-size: 24px;
	}

	.table__drink {
		padding: 5px;
		font-size: 20px;
	}

	.table__icon {

	}

	.table__comments {
		padding: 5px;
		font-size: 18px;
	}
}

@media (max-width: 500px) {

	/* Header */
	.header{
		padding-top: 10px;
	}
	
	.header__logo {
		font-size: 24px;
	}

	/* Nav */
	.nav {
		display: flex;
		flex-direction: column;
		font-size: 16px;
	}

	.nav__link {
		margin: 5px;
	}

	/* Intro */
	.intro--sub {
		padding: 120px 20px 30px;
	}

	.intro__suptitle {
		font-size: 20px;
	}

	.intro__title {
		font-size: 28px;
	}

	.intro__title:after {
		margin: 15px auto 15px;
	}

	.intro__subtitle {
		font-size: 18px;
	}

	/* Section */
	.section--sub {
		padding: 0;
	}
	.section__header {
		margin: auto 6px;
	}

	.section__suptitle {
		font-size: 14px;
	}

	.section__title {
		font-size: 18px;
	}

	.section__text {
		font-size: 12px;
	}

	/* Card */
	.card__item, .myPhoto {
		max-width: 220px;
	}

	/* Statistics */
    .stat__num {
    	margin-bottom: 5px;
    	font-size: 28px;
    }

	.stat__text {
    	font-size: 16px;
    }

    /* Skills */
    .skills__title {
    	font-size: 18px;
    }

    .skills__title:after {
		margin: 10px auto 10px;
	}

	.skill__title {
		font-size: 14px;
	}

	.skill__title:after {
		margin: 5px auto 5px;
	}

	.skill__text {
		font-size: 12px;
	}

	/* Footer */
    .footer__logo {
    	font-size: 24px;
    }

    .footer__text {
    	font-size: 10px;
    }

    /* Contacts */
    .contacts__title {
		font-size: 18px;
	}

	.contacts__items {
		font-size: 16px;
	}

	.contacts__email {
		font-size: 16px;
	}

	/* Memes */
	.memes__text {
		font-size: 20px;
	}

	/* Table */
	.table__title {
		padding: 3px;
		font-size: 16px;
	}

	.table__drink {
		padding: 2px;
		font-size: 14px;
	}

	.table__icon {

	}

	.table__comments {
		padding: 2px;
		font-size: 12px;
	}
}


